body{
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.column{
	background-color: #24262b;
    padding: 70px 0;
}
.column-col1{
   width: 50%;
   padding: 5% 15px;
}
.column-col1 .span1{
	display: flex;
}
.column-col1 .span1 i, p{
	margin: 0px 3px;
}
.column-col1 .span1 p{
	font-weight: 500;
	margin: 3px 0px 0px 15px;
}
.column-col1 h2{
	font-size: 50px;
	color: black;
	margin: 15px 0px;
	font-weight: 700;
	position: relative;
}
.column-col1 .p{
	color: gray;
	font-size: 19px;
	position: relative;
}
.column-col1 .btn1{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
	color: #ffffff;
    background-color: blue;
}
.column-col1 .btn1:hover{
    box-shadow: none;
    padding: 14.5px 14.5px 14.5px 14.5px;
}
.column-col1 .btn2{
    padding: 15px;
    margin: 10px 20px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
	color: blue;
    background-color: inherit;
}
.column-col1 .btn2 p:hover{
    text-decoration: underline;
}
.column-col1 .span2{
	display: flex;
}
.column-col1 .span2 div{
	display: flex;
}
.column-col1 .span2 i, p{
	margin: 5px 5px 5px 0px;
}
.column-col1 .span2 i img{
	width: 17px;
}
.column-col1 .span2 p{
	font-size: 0.9rem;
}
.column-col2{
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 0px 30px;
}
.column-col2 img{
	width: 100%;
	padding: 0 15px;
}

/*responsive*/
@media(max-width: 767px){
.row{
	display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    /* justify-content: center; */
    /* align-items: center; */
    height: auto;
}
.column-col1{
	-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    width: 100%;
}
.column-col2{
    width: 100%;
}
}
@media(max-width: 574px){
	.column-col1 .span1{
		display: none;
	}
	.column-col1 .btn1{
		width: 100%;
	}
	.column-col1 .btn2{
		width: 100%;
		margin: 10px 0px;
	}
	.column-col1 .span2{
		display: block;
	}
}